.div1:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.div2:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.div3:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.div4:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.div5:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.div6:hover {
  background-color:	#00BFFF !important;
  cursor:pointer
}
.button {
  cursor:pointer
}